body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body);
}
:root {
    --white: #FFFFFF;
    --whiteD: #F7F7FF;
    --black: #000000;
    --purple: #A4A7E7;
    --purpleD: #6B6EDC;
    --body: #f6f3ff;
}
main {
    margin: 5rem;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Montserrat';
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
}
.bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.basic,
.master {
    width: 360px;
    height: 453px;
    background-color: #FFFFFF;
    border-radius: 1px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}
.pro {
    width: 360px;
    height: 493px;
    background-color: #FFFFFF;
    border-radius: 1px;
    background: linear-gradient(315.46deg, #6B6EDC 0.77%, #A4A7E7 100%);
    font-weight: 700;
}

.price {
    font-size: 72px;
}
h3 {
    margin-left: 2rem;
}
.containerFirst {
display: flex;
justify-content: center;
align-items: center;
}
.containerButton {
    margin: 100px 10px 10px 10px;

}

.btn {
    width: 290px;
    height: 45px;
    border-radius: 5px;
}

.btn1 {
    background-color: var(--white);
    color: var(--purpleD);
    margin: 0px 70px 25px 0px;

}

.btn2 {
    background: linear-gradient(90deg, #A4A7E7 0%, #6B6EDC 100%);
    color: var(--white);
}

.btn3 {
    background-color: var(--black);
    color: var(--purpleD);
    background-color: transparent;
    margin: 0px 70px 25px 0px;
}

.btn4 {
    background-color: var(--black);
    color: var(--purpleD);
    background-color: transparent;
}

.switch {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.switch-input {
    display: none;
}

.switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}

.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}

.switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}

.switch-input:checked+.switch-label::before {
    background-color: #A4A7E7
    ;
}

.switch-input:checked+.switch-label::after {
    left: 24px;
}